body {
  min-height: 100vh; }

.container {
  width: 100vw;
  height: 170vw;
  position: relative; }
  .container > .dialog {
    width: 44.5vw;
    height: 30.4vw;
    font-size: 5vw;
    line-height: 1.5;
    background: url("../images/unopen/pic_qipao.png") no-repeat;
    background-size: cover;
    position: absolute;
    right: 7.4vw;
    top: 17.3vw;
    color: #fff;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 4vw 0 0 5vw; }
  .container > .santa {
    width: 48vw;
    height: 52.3vw;
    position: absolute;
    left: -6vw;
    top: 10vw;
    background: url("../images/unopen/santa.png") no-repeat;
    background-size: contain; }
  .container > .gift {
    width: 71.6vw;
    height: 80.9vw;
    background: url("../images/unopen/pic_liwu.png") no-repeat;
    background-size: contain;
    position: absolute;
    right: 5vw;
    top: 56vw; }
  .container > .open-btn {
    display: block;
    width: 76.8vw;
    height: 16vw;
    border-radius: 8vw;
    background: #fff;
    color: #D3323F;
    font-size: 5.6vw;
    line-height: 16vw;
    text-align: center;
    position: absolute;
    bottom: 5.3vw;
    left: 11.6vw;
    -webkit-box-shadow: 0 2px 4px 0 rgba(175, 34, 45, 0.6), 0 6px 20px 0 rgba(159, 30, 41, 0.51), inset 0 -4px 14px 0 rgba(177, 22, 35, 0.3);
    box-shadow: 0 2px 4px 0 rgba(175, 34, 45, 0.6), 0 6px 20px 0 rgba(159, 30, 41, 0.51), inset 0 -4px 14px 0 rgba(177, 22, 35, 0.3); }
