html,
body {
  margin: 0;
  padding: 0; }

body,
ol,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p,
th,
td,
dl,
dd,
form,
fieldset,
legend,
input,
textarea,
select {
  padding: 0;
  margin: 0;
  line-height: 1.2;
  font-weight: normal;
  font-family: 'PingFangSC-Regular'; }

img {
  border: none; }

body {
  background: #f5f5f9;
  font-size: 0.03733rem; }

::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.46); }

a {
  color: black;
  text-decoration: none; }

em {
  font-style: normal; }

input[type="button"] {
  border: none; }

input:focus {
  outline: none; }

li {
  list-style: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

p {
  word-wrap: break-word; }

input {
  font-size: 0.03467rem; }

html {
  font-family: 'arial'; }

.share-mask {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  background-image: url("../images/arrow.png");
  background-repeat: no-repeat;
  background-size: 24vw 24vw;
  background-position: 68vw 0;
  position: fixed;
  left: 0;
  top: 0;
  color: #fff; }
  .share-mask > p {
    width: 100vw;
    font-size: 4.8vw;
    color: #fff;
    text-align: center;
    position: absolute;
    top: 28vw; }

span.orange {
  color: #ff4612; }

.ontouch {
  -webkit-tap-highlight-color: transparent !important; }

.bg-wenli {
  background: url("../images/share/bg_wenli.png") repeat;
  background-size: 25vw 25vw; }

#help {
  width: 8vw;
  height: 8vw;
  position: absolute;
  right: 5vw;
  top: 5vw;
  background: url("../images/icon_help.png") no-repeat;
  background-size: contain;
  z-index: 10000; }
