#wicket {
	width: 100vw;
	height: 177vw;
	overflow: hidden;
	position: relative;
	background: #000;
}

#stage {
	display: none;
	width: 100vw;
	height: 387.6vw;
	background: url('../images/stage_nothing.png') no-repeat;
	background-size: 160vw auto;
	background-position: center -80vw;
	position: absolute;
	top: 0vw;
}

#moon {
	position: absolute;
	display: block;
	width: 90vw;
	height: auto;
	right: 5vw;
	top: 20vw;
	z-index: 100;
}

#sky {
	position: absolute;
	display: block;
	width: 160vw;
	height: 212vw;
	left: -20vw;
	top: -80vw;
}

#sky .star {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	opacity: 0;
}

#sky .star1 {
	animation: shine1 3s ease-in-out infinite;
	transform: rotateZ(270deg);
}

#sky .star2 {
	animation: shine2 3s ease-in-out infinite;
}

#sky .river {
	display: none;
	position: absolute;
	width: 60%;
	height: auto;
	left: 20%;
	bottom: -18%;
	opacity: 0;
	animation: river 5s ease-in-out infinite 0.5s;
}

.santa-claus-0 {
	width: 15vw;
	height: 8.5vw;
	display: block;
	position: absolute;
	right: -15vw;
	top:  40vw;
	z-index: 99;
	transform: rotateY(180deg);
}

.santa-claus {
	width: 20vw;
	height: 11.5vw;
	display: block;
	position: absolute;
	right: -20vw;
	top:  70vw;
	z-index: 101;
}

.santa-claus-2 {
	width: 50vw;
	height: 26.2vw;
	display: block;
	position: absolute;
	right: -50vw;
	top:  58vw;
	z-index: 101;
}

.santa-claus-3 {
	width: 60vw;
	height: 90.3vw;
	display: block;
	position: absolute;
	left: -120vw;
	top:  55vw;
	z-index: 101;
}

.santa-claus-5 {
	width: 60vw;
	height: 90.3vw;
	display: none;
	position: absolute;
	left: 20vw;
	top:  55vw;
	z-index: 101;
}

.gift {
	width: 13vw;
	height: auto;
	position: absolute;
	display: none;
	left: 24vw;
	top: 67vw;
	z-index: 120;
	animation: spin 1s linear infinite;
}

.bush {
	display: block;
	position: absolute;
	width: 87vw;
	height: 189vw;
	right: -30vw;
	top: 206vw;
	z-index: 110;
}

#loading {
	width: 100vw;
	height: 177.8vw;
	background: url('../images/loading_bg.png') no-repeat;
	background-color: rgb(9, 20, 43);
	background-size: 40vw 42vw;
	background-position: center center;
	position: relative;
}

#loading_text {
	width: 100vw;
	text-align: center;
	color: #fff;
	font-size: 3.6vw;
	position: absolute;
	top: 120vw;
}

.snow {
	width: 100vw;
	height: 177.8vw;
	position: absolute;
	top: 250vw;
	z-index: 111;
}

.snow img {
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100vw;
	height: auto;
}

.snow .snow_1 {
	z-index: 114;
}

.snow .snow_2 {
	z-index: 112;
}

.snow .snow_3 {
	z-index: 113;
}

.snow .boom {
	display: none;
	z-index: 115;
	animation: fade 5s linear;
	animation-fill-mode: forwards;
}

.snow .block {
	display: none;
}

.snow .block_1 {
	width: 20vw;
	position: absolute;
	left: 17vw;
	top: 9vw;
	transform: rotateZ(16deg);
	animation: shaking1 7s ease-in-out infinite;
	transform-origin: left bottom;
	z-index: 110;
}

.snow .block_2 {
	width: 21vw;
	position: absolute;
	left: 12vw;
	top: 117vw;
	transform: rotateZ(-20deg);
	animation: shaking2 7s ease-in-out infinite;
	transform-origin: left bottom;
	z-index: 110;
}

.snow .block_3 {
	width: 22vw;
	position: absolute;
	left: 56vw;
	top: 56vw;
	animation: shaking3 7s ease-in-out infinite;
	transform-origin: left bottom;
	z-index: 110;
}

.block_4 {
	width: 14vw;
	position: absolute;
	left: 40vw;
	top: 170vw;
	z-index: 105;
	display: none;
}

.snow .block_ground {
	display: none;
	width: 100vw;
	position: absolute;
}

@keyframes shine1 {
	0% {
		opacity: 0;
	}
	50% {
		opacity: 0.9;
	}
	100% {
		opacity: 0;
	}
}

@keyframes shine2 {
	0% {
		opacity: 0.9;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 0.9;
	}
}

@keyframes river {
	0% {
		opacity: 0.1;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 0.1;
	}
}

@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}

@keyframes fade {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.8;
	}
	100% {
		opacity: 0;
	}
}

@keyframes shaking1 {
	0% {
		transform: rotateZ(16deg);
	}
	2% {
		transform: rotateZ(8deg);
	}
	4% {
		transform: rotateZ(22deg);
	}
	6% {
		transform: rotateZ(12deg);
	}
	8% {
		transform: rotateZ(19deg);
	}
	10% {
		transform: rotateZ(16deg);
	}
	100% {
		transform: rotateZ(16deg);
	}
}

@keyframes shaking2 {
	0% {
		transform: rotateZ(-20deg);
	}
	33% {
		transform: rotateZ(-20deg);
	}
	35% {
		transform: rotateZ(-26deg);
	}
	37% {
		transform: rotateZ(-14deg);
	}
	39% {
		transform: rotateZ(-22deg);
	}
	41% {
		transform: rotateZ(-16deg);
	}
	43% {
		transform: rotateZ(-20deg);
	}
	100% {
		transform: rotateZ(-20deg);
	}
}

@keyframes shaking3 {
	0% {
		transform: rotateZ(0deg);
	}
	70% {
		transform: rotateZ(0deg);
	}
	72% {
		transform: rotateZ(-6deg);
	}
	74% {
		transform: rotateZ(6deg);
	}
	76% {
		transform: rotateZ(-4deg);
	}
	78% {
		transform: rotateZ(4deg);
	}
	80% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(0deg);
	}
}

/* 



 */