<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='keywords' content='开学骑出“趣”，赢大礼！'>
    <meta name='description' content='葡萄科技联合ofo小黄车，又送你90天免费骑！'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>葡萄送大礼，一“骑”去芬兰</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/help.css">
    <script id="DS_PRE_JS" type="text/javascript" src="https://cdn.datastory.com.cn/js/pre-ds-min.js?dsTid=f8a7fd98-2f5d-4ecd-b3b2-9477b9acb10a"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
    <script src="https://static.mobike.com/cdn/jsbridge/1.1.1/jsbridge.js"></script>
</head>

<body>
    <div class="container">
        <div class="show-wrap">
            <div class="title">葡萄送大礼，一“骑”去芬兰！</div>
            <div class="desc">
                <div class="detail">
                    <div class="step step-1">
                        <div class="tit">第一步</div>
                        <div class="exp">只要邀请朋友找积木，朋友和你都可抽取：<span>①149元葡萄积木警车；②365元或30元摩拜&葡萄积木联名骑行卡。</span></div>
                        <div class="pic pic-1"></div>
                    </div>
                    <div class="step step-2">
                        <div class="tit">第二步</div>
                        <div class="exp">找到最后1块积木，即可获得：<span>①葡萄积木全球限量版圣诞老人；②抽取芬兰往返机票的机会。</span></div>
                        <div class="pic pic-2"></div>
                    </div>
                    <div class="join">分享并参与</div>
                </div>
                <div class="logo"></div>
            </div>
        </div>
        <div class="content bg-wenli">
            <div class="title"></div>
            <div class="gift">
                <div class="desc">
                    <div class="detail">
                        <div class="rule-content">
                            <div class="rule-item">
                                <div class="rule-name">活动日期：</div>
                                <div class="rule-desc">2017年12月12日-2017年12月19日</div>
                            </div>
                            <div class="rule-item">
                                <div class="rule-name">截止兑奖日期：</div>
                                <div class="rule-desc">2017年12月25日</div>
                            </div>
                            <div class="rule-item">
                                <div class="rule-name">活动规则：</div>
                                <div class="rule-desc">1、将活动分享给朋友，朋友点进活动页面，帮你一起找到最后1块葡萄积木后，你将获得：
                                    <br/>① 1份葡萄积木全球限量版芬兰圣诞老人。
                                    <br/>②赢取芬兰来回机票的机会。</div>
                            </div>
                            <div class="rule-item">
                                <div class="rule-desc">
                                    2、所有为你找积木的朋友，都有机会获得：
                                    <br/>①芬兰国家旅游局的圣诞精灵聘书。
                                    <br/>②价值149元葡萄积木警车。
                                    <br/>③摩拜骑行月卡或年卡。</div>
                            </div>
                            <div class="rule-item">
                                <div class="rule-desc">
                                    3、每个人都拥有1次找到葡萄积木的机会；可以为多个朋友寻找积木。</div>
                            </div>
                            <div class="rule-item">
                                <div class="rule-name">上海·大悦城之点亮圣诞村活动：</div>
                                <div class="rule-desc">时间：2017年12月22日-2017年12月25日
                                    <br/>地点：上海大悦城2期L1层大厅
                                    <br/>惊喜Part1 骑摩拜点亮圣诞村：这个圣诞节非常不一般！
                                    <br/>惊喜Part2 刷爆朋友圈的拍照圣地：用积木搭的圣诞村，场面壮观唯美！
                                    <br/>惊喜Part3 芬兰圣诞老人惊喜现身：持有执照，绝对正统，全球仅50位！</div>
                            </div>
                        </div>
                    </div>
                    <p class="copyright mt-4">*所有奖品均不可兑换成现金。</p>
                    <p class="copyright mt-2 pb-4">*活动最终解释权归摩拜单车&葡萄科技&芬兰国家旅游局所有。</p>
                </div>
                <div class="help">
                </div>
            </div>
        </div>
    </div>
    <script id="assist_tpl" type="text/html">
        <div class="head">我的奖励</div>
        <ul class="friends">
            <% 
                var exist = false;
                for(var i=0; i< giftlist.length; i++) { 
                var item = giftlist[i];
                var giftid = item.result;
                var gift_name = giftName(giftid);
                var imgcl = '',code = '';
                if(giftid > 0 && giftid < 21) {
                    imgcl = 'zhengshu';
                    if(exist) {
                        continue;
                    } else {
                        exist = true;
                    }
                } else if (giftid == 104){
                    imgcl = 'jingche';
                } else if (giftid == 103){
                    imgcl = 'santa';
                    gift_name = '全球限量版圣诞老人';
                } else if (giftid == 105){
                    imgcl = 'ticket';
                } else if (giftid == 101) {
                    imgcl = 'yueka';
                    code = item.code;
                } else if (giftid == 102) {
                    imgcl = 'nianka';
                    code = item.code;
                }
                var btncl = giftstatus == 0 ? 'yes' : 'no';
                if(imgcl) {
            %>
            <li>
                <div class="avatar avt-<%=imgcl%>"></div>
                <div class="wrap">
                    <div class="gift"><%=gift_name%></div>
                    <div class="date"><%=dateFormat(item.time)%></div>
                    <% if(giftid > 20) { %>
                    <div class="<%=btncl%>" data-result="<%=giftid%>" data-code="<%=code%>"></div>
                    <% } %>
                </div>
            </li>
            <% } } %>
        </ul>
    </script>
    <script src='../js/zepto.min.js'></script>
    <script src='../js/fastclick.js'></script>
    <script src='../js/config.js'></script>
    <script src='../js/utils.js'></script>
    <script src='../js/template.native.js'></script>
    <script src='../js/help.js'></script>
</body>

</html>