<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name='keywords' content='开学骑出“趣”，赢大礼！'>
    <meta name='description' content='葡萄科技联合ofo小黄车，又送你90天免费骑！'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>葡萄积木携手摩拜，送圣诞大礼！</title>
    <link rel="stylesheet" href="../css/public.css">
    <link rel="stylesheet" href="../css/snow.css">
    <link rel="stylesheet" href="../css/share.css">
    <script id="DS_PRE_JS" type="text/javascript" src="https://cdn.datastory.com.cn/js/pre-ds-min.js?dsTid=cc899438-655c-468f-b033-efe0d8fc367c"></script>
    <script src="https://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
</head>

<body>
    <div class="info">点礼盒找葡萄积木，瓜分大礼！</div>
    <div class="htmleaf-container">
        <div class="santa-claus" id="santa_claus"></div>
        <div class="htmleaf-content">
            <canvas class="snow-canvas" speed="1" interaction="false" size="3" count="100" opacity="0.00001" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" wind-power="-2" image="false" width="1366" height="667"></canvas>
            <canvas class="snow-canvas" speed="3" interaction="true" size="8" count="30" start-color="rgba(253,252,251,1)" end-color="rgba(251,252,253,0.3)" opacity="0.00001" wind-power="-1" image="false" width="1366" height="667"></canvas>
        </div>
    </div>
    <div class="container">
        <div class="check-code">
            <input type="text" class="phone" placeholder="请输入手机号用于后续兑奖" maxlength="11">
            <input type="text" class="code" placeholder="请输入验证码" maxlength="6">
            <div class="getcode">获取验证码</div>
            <div class="commit ontouch">领取葡萄积木</div>
        </div>
        <div class="no-check">
            <div class="commit ontouch">领取葡萄积木</div>
        </div>
        <div class="content">
            <div class="title">
                <div class="txt">亲爱的<span class="nickname"></span><span id="findtext">正在寻找最后1块葡萄积木，点礼盒，一起赢大礼吧！</span></div>
            </div>
            <div class="gift bg-wenli">
                <div class="box">
                    
                </div>
                <div class="desc">
                    <a class="trigger" href="./help.html">我的奖励</a>
                    <div class="detail">
                        <div class="step step-1">
                            <div class="tit">第一步</div>
                            <div class="exp">只要邀请朋友找积木，朋友和你都可抽取：<span>①149元葡萄积木警车；②365元或30元葡萄积木联名摩拜骑行卡。</span></div>
                            <div class="pic pic-1"></div>
                        </div>
                        <div class="step step-2">
                            <div class="tit">第二步</div>
                            <div class="exp">找到最后1块积木，即可获得：<span>①葡萄积木全球限量版圣诞老人；②抽取芬兰往返机票的机会。</span></div>
                            <div class="pic pic-2"></div>
                        </div>
                        <div class="step step-bot">
                            葡萄积木，科技积木的创立者
                        </div>
                    </div>
                </div>
                <div class="help assist-wrap">
                    
                </div>
            </div>
        </div>
    </div>
    <div class="open-gift-mask mask" id="ogmask">
        <div class="card bg-wenli gift-wrap">
           
        </div>
    </div>
    <div class="tellmask mask" id="tmask">
        
    </div>
    <script id="box_tpl" type="text/html">
        <% for(var i=1; i< 4; i++) { 
            if(status == 1) { %>
            <div class="ontouch box-<%=i%> normal"></div>
            <% } else { 
                if(data.position == i) { 
                var cl = data.result == 103 ? 'jimu' : 'zhufu';
                %>
                <div class="ontouch box-<%=i%> <%=cl%>"></div>
                <% } else { %>
                    <div class="ontouch box-<%=i%> disable"></div>
                    <% } 
            } 
        } %>
    </script>
    <script id="gift_tpl" type="text/html">
        <% if(giftid != 103) { %>
            <div class="card-zhufu">
                <div class="title">诶哟，还差一点就找到最后1块积木啦!赶紧给朋友送个祝福扎扎心~</div>
                <div class="zhufu">
                    <p>祝你
                        <br/>
                        <%=gifttext%>
                    </p>
                </div>
                <div class="leave btn ontouch">送自己礼物</div>
                <div class="tellhim btn ontouch">送祝福</div>
            </div>
            <% } else { %>
                <div class="card-jimu">
                    <div class="title">找到啦！
                        <br/>手气击败了全球96%的人~</div>
                    <div class="jimu"></div>
                    <div class="leave btn ontouch">送自己礼物</div>
                    <div class="tellhim btn ontouch">告诉TA</div>
                </div>
                <% } %>
    </script>
    <script id="assist_tpl" type="text/html">
        <div class="head">看看谁是手气王</div>
        <ul class="friends">
            <% for(var i=0; i< assistlist.length; i++) { 
                var item = assistlist[i];
                var headimgurl = item.headimgurl;
                var nickname = trim(item.nickname);
                var giftid = item.result;
                var pretext = (giftid > 50 && giftid < 74) ? '祝你' : '获得';
                if((giftid > 0 && giftid < 21) || giftid == 101 || giftid == 102) {
                    pretext += '1张“';
                } else if (giftid == 104) {
                    pretext += '1辆“';
                } else if (giftid == 103){
                    pretext = '找到了“';
                }
                var afttext = (giftid > 50 && giftid < 74) ? '!' : '“';
            %>
            <li>
                <img src="<%=headimgurl%>" alt="" class="avatar">
                <div class="name"><%=nickname%></div>
                <div class="gift gift-<%=giftid%>"><%=pretext + giftName(giftid) + afttext%></div>
                <div class="date"><%=dateFormat(item.time)%></div>
            </li>
            <% } %>
        </ul>
    </script>
    <script src='../js/zepto.min.js'></script>
    <script src='../js/fastclick.js'></script>
    <script src='../js/template.native.js'></script>
    <script src='../js/snow_plugin.js'></script>
    <script src='../js/config.js'></script>
    <script src='../js/utils.js'></script>
    <script src='../js/share.js'></script>
</body>

</html>